.titulo {
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(8, 41, 131);
}

.pessoa {
    width: 150px;
    margin: 10px;
    padding: 6px;
}

.cpf-cnpj {
    width: 200px;
    margin: 10px;
    padding: 6px;
}

.rg-ie {
    width: 12%;
    margin: 10px;
    padding: 6px;
}

.razao-social {
    width: 35%;
    margin: 10px;
    padding: 6px;
}

.nome-fantasia {
    width: 30%;
    margin: 10px;
    padding: 6px;
}

.apelido {
    width: 25%;
    margin: 10px;
    padding: 6px;
}

.cep {
    width: 100px;
    margin: 10px;
    padding: 6px;
}

.endereco {
    width: 50%;
    margin: 10px;
    padding: 6px;
}

.numero {
    width: 10%;
    margin: 10px;
    padding: 6px;
}

.complemento {
    width: 20%;
    margin: 10px;
    padding: 6px;
}

.bairro {
    width: 40%;
    margin: 10px;
    padding: 6px;
}

.cidade {
    width: 40%;
    margin: 10px;
    padding: 6px;
}

.uf {
    width: 5%;
    margin: 10px;
    padding: 6px;
}

.contato {
    width: 35%;
    margin: 10px;
    padding: 6px;
}

.telefone {
    width: 15%;
    margin: 10px;
    padding: 6px;
}

.celular {
    width: 15%;
    margin: 10px;
    padding: 6px;
}

.email {
    width: 35%;
    margin: 10px;
    padding: 6px;
}

.dados-adicionais {
    width: 60%;
    margin: 10px;
    padding: 6px;
}

.botoes {
    margin-left: 8px;
    width: 100px;
}
