.titulo {
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(8, 41, 131);
}

.codigo {
    width: 7%;
    margin: 10px;
    padding: 6px;
}

.descricao {
    width: 50%;
    margin: 10px;
    padding: 6px;
}

.tipo-produto {
    width: 12%;
    margin: 10px;
    padding: 6px;
}

.unidade-medida {
    width: 12%;
    margin: 10px;
    padding: 6px;
}

.estoque-minimo {
    width: 12%;
    margin: 10px;
    padding: 6px;
}

.custo-produto {
    width: 12%;
    margin: 10px;
    padding: 6px;
}

.preco-venda {
    width: 12%;
    margin: 10px;
    padding: 6px;
}

.margem {
    width: 12%;
    margin: 10px;
    padding: 6px;
}

.botoes {
    margin-left: 10px;
    padding-left: 10px;
    width: 100px;
}

.barra-scroll {
    border: solid 1px #ccc;
    width: 300px;
    height:400px;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    overflow-y: scroll
}