.titulo {
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(8, 41, 131);
}

.botao-incluir {
    margin: 10px;
    float: inline-end;
}

table {
    width: 100%;
}

.mat-form-field {
    margin-left: 10px;
    font-size: 14px;
    width: 90%;
    float: left;
}
  
th {
    color: rgb(8, 41, 131);
}

.th-cnpj {
    width: 10%;
}

.th-nome {
    width: 18%;
}

.th-contato {
    width: 15%;
}

.th-fone {
    width: 10%;
}

.botao-td {
    width: 0.5px;
}

.mat-row {
    font-size: 12px;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell {
    border-color: #3232FF;
    color: #3232FF;
    background-color:#ededb7;
    font-weight: bold;
    cursor: pointer;
}
