<form [formGroup]="pedidoCompraForm" >

    <!-- Dados do Pedido de Compra -->
    <div>
        <h2 class="titulo"><strong>Pedido de Compra</strong></h2>

        <div>
            <mat-form-field>
                <mat-label>N° Pedido</mat-label>
                <input matInput type="text" formControlName="idPedidoCompra" [ngModel]="pedidoCompra.idPedidoCompra">
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Data do Pedido</mat-label>
                <input matInput [matDatepicker]="pickerDtPedido" formControlName="dataPedido" [(ngModel)]="pedidoCompra.dataPedido">
                <mat-datepicker-toggle matSuffix [for]="pickerDtPedido"></mat-datepicker-toggle>
                <mat-datepicker #pickerDtPedido color="primary"></mat-datepicker>
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Previsão Entrega</mat-label>
                <input matInput [matDatepicker]="pickerDtPrev" formControlName="dataPrevisaoEntrega" [(ngModel)]="pedidoCompra.dataPrevisaoEntrega">
                <mat-datepicker-toggle matSuffix [for]="pickerDtPrev"></mat-datepicker-toggle>
                <mat-datepicker #pickerDtPrev color="primary"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="usuario">
                <mat-label>Criado Por</mat-label>
                <input matInput type="text" formControlName="nomeUsuario" [(ngModel)]="pedidoCompra.usuario.nomeUsuario">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Status</mat-label>
                <input matInput type="text" formControlName="status" [ngModel]="pedidoCompra.statusPedido">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="fornecedor">
                <mat-label>Fornecedor</mat-label>
                <mat-select formControlName="nomeFornecedor" [(ngModel)]="pedidoCompra.idFornecedor">
                    <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.idFornecedor"> {{fornecedor.razaoSocial}} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="observacao">
                <mat-label>Observações</mat-label>
                <textarea matInput type="text" maxlength="255" placeholder="Observações do pedido" formControlName="observacao" [(ngModel)]="pedidoCompra.observacao"></textarea>
            </mat-form-field>
        </div>
    </div>

    <!-- Itens do Pedido de Compra -->
    <div>
        <h4 class="titulo"><strong>Itens do Pedidos de Compra</strong></h4>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="demo-table">
        
                <!-- Tipo Produto Column -->
                <ng-container matColumnDef="tipoProduto">
                    <th mat-header-cell *matHeaderCellDef>Tipo Produto</th>
                    <td mat-cell *matCellDef="let row">{{row.tipoProduto}}</td>
                </ng-container>

                <!-- Codigo Produto Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef>Código</th>
                    <td mat-cell *matCellDef="let row">{{row.codigo}}</td>
                </ng-container>

                <!-- Descrição Produto Column -->
                <ng-container matColumnDef="descricao">
                    <th mat-header-cell *matHeaderCellDef>Descrição</th>
                    <td mat-cell *matCellDef="let row">{{row.descricao}}</td>
                </ng-container>

                <!-- Unidade Medida Produto Column -->
                <ng-container matColumnDef="unidadeMedida">
                    <th mat-header-cell *matHeaderCellDef>Unidade Medida</th>
                    <td mat-cell *matCellDef="let row">{{row.unidadeMedida}}</td>
                </ng-container>

                <!-- Quantidade Produto Column -->
                <ng-container matColumnDef="quantidade">
                    <th mat-header-cell *matHeaderCellDef>Quantidade</th>
                    <td mat-cell *matCellDef="let row">{{row.quantidade | number}}</td>
                </ng-container>

                <!-- Preco Unitario Produto Column -->
                <ng-container matColumnDef="precoUnitario">
                    <th mat-header-cell *matHeaderCellDef>Preço Unitário</th>
                    <td mat-cell *matCellDef="let row">{{row.precoUnitario | currency:'BRL'}}</td>
                    <td mat-footer-cell *matFooterCellDef>Total do Pedido</td>
                </ng-container>

                <!-- Total Produto Column -->
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>Total</th>
                    <td mat-cell *matCellDef="let row">{{row.total | currency:'BRL'}}</td>
                    <td mat-footer-cell *matFooterCellDef>{{getTotalPedido() | currency:'BRL'}}</td>
                </ng-container>

                <!-- Edit Column -->
                <ng-container matColumnDef="botaoEditar">
                    <th mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button mat-mini-fab color="primary" (click)="btnIncluirItem()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" (click)="btnEditItem(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Delete Column -->
                <ng-container matColumnDef="botaoExcluir">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="warn" (click)="btnDeleteItem(row)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedFooterColumns"></tr>
        
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Nenhum pedido de compra encontrado com o filtro "{{input.value}}"</td>
                </tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>   

    <div>
        <button class="submit-btn botoes" color="primary" mat-raised-button type="submit" [disabled]="!pedidoCompraForm.valid" (click)=onSubmit()>Salvar</button>
        <button class="botoes" color="warn" mat-raised-button type="reset" (click)=cancelar()>Cancelar</button>
    </div>

</form>
