.titulo {
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(8, 41, 131);
}

mat-form-field {
    margin-left: 12px;
    margin-right: 12px;
}

.usuario {
    width: 20%;
}

.fornecedor {
    width: 35%;
}

.observacao {
    width: 60%;
}

.botoes {
    margin-left: 12px;
    margin-right: 4px;
    margin-top: 12px;
    width: 100px;
}

.demo-table {
    width: 100%;
}
  
.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}
  
.mat-row:hover .mat-cell {
    border-color: #3232FF;
    color: #3232FF;
    background-color:#FFFF99;
    font-weight: bold;
}
  
.mat-column-idItemPedidoCompra {
    padding-right: 24px;
    text-align: center;
}

.mat-column-tipoProduto {
    padding-left: 16px;
}

.mat-column-codigo {
    padding-left: 16px;
}

.mat-column-descricao {
    padding-left: 16px;
}

.mat-column-unidadeMedida {
    padding-left: 16px;
}

.mat-column-quantidade {
    padding-left: 16px;
    text-align: right;
}

.mat-column-precoUnitario {
    padding-left: 16px;
    text-align: right;
}

.mat-column-total {
    text-align: right;
}

.mat-column-botaoEditar {
    padding-left: 32px;
    text-align: right;
}

.mat-column-botaoExcluir {
    text-align: right;
}
