mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 90vh;
}
  
.mat-sidenav {
    width: 180px;
}
  
button.menu-button {
    color: inherit;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.versao {
    position: absolute;
    bottom: 0px;
    left: 8px;
    color: darkslateblue;
    font-size: small;
    font-style: bold;
}