<h2 class="titulo"><strong>Cadastro de Produtos</strong></h2>

<mat-form-field>
    <mat-label>Pesquise o produto</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Digite a descrição do produto" #input />
</mat-form-field>
  
<button class="botao-incluir" mat-mini-fab color="primary" (click)="btnIncluir()">
    <mat-icon>add</mat-icon>
</button>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Codigo Column -->
        <ng-container matColumnDef="codigo">
            <th class="th-codigo" mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
            <td mat-cell *matCellDef="let row">{{row.codigo}}</td>
        </ng-container>
  
        <!-- Descricao Column -->
        <ng-container matColumnDef="descricao">
            <th class="th-descricao" mat-header-cell *matHeaderCellDef mat-sort-header>Descrição do Produto</th>
            <td mat-cell *matCellDef="let row">{{row.descricao}}</td>
        </ng-container>
  
        <!-- Tipo Produto Column -->
        <ng-container matColumnDef="descricaoTipoProduto">
            <th class="th-tipoProduto" mat-header-cell *matHeaderCellDef>Tipo de Produto</th>
            <td mat-cell *matCellDef="let row">{{row.tipoProduto.descricao}}</td>
        </ng-container>

        <!-- Unidade Medida Column -->
        <ng-container matColumnDef="descricaoUnidadeMedida">
            <th class="th-unidadeMedida" mat-header-cell *matHeaderCellDef>Unidade de Medida</th>
            <td mat-cell *matCellDef="let row">{{row.unidadeMedida.descricao}}</td>
        </ng-container>

        <!-- Custo do Produto Column -->
        <ng-container matColumnDef="custoProduto">
            <th class="th-custo" mat-header-cell *matHeaderCellDef>Preço de Custo</th>
            <td style="text-align: right;" mat-cell *matCellDef="let row">{{row.custoProduto | currency:'BRL'}}</td>
        </ng-container>

        <!-- Preço de Venda Column -->
        <ng-container matColumnDef="precoVenda">
            <th class="th-preco" mat-header-cell *matHeaderCellDef>Preço de Venda</th>
            <td style="text-align: right;" mat-cell *matCellDef="let row">{{row.precoVenda | currency:'BRL'}}</td>
        </ng-container>

        <!-- Controla Estoque Column -->
        <ng-container matColumnDef="controlaEstoque">
            <th class="th-controla-estoque" mat-header-cell *matHeaderCellDef>Controla Estoque</th>
            <td style="text-align: center;" mat-cell *matCellDef="let row">
                <mat-checkbox class="example-margin" [(ngModel)]="row.controlaEstoque" [disabled]="true"></mat-checkbox>
            </td>
        </ng-container>

        <!-- Estoque Minimo Column -->
        <ng-container matColumnDef="estoqueMinimo">
            <th class="th-est-min" mat-header-cell *matHeaderCellDef>Estoque Mínimo</th>
            <td style="text-align: center;" mat-cell *matCellDef="let row">{{row.estoqueMinimo | number}}</td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="botaoEditar">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="btnEdit(row)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
  
        <!-- Delete Column -->
        <ng-container matColumnDef="botaoExcluir">
            <th class="botao-td" mat-header-cell *matHeaderCellDef></th>
            <td class="botao-td" mat-cell *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="btnDelete(row)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nenhum produto encontrado com o filtro "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
