.titulo {
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(8, 41, 131);
}

.botao-incluir {
    margin: 10px;
    float: inline-end;
}

table {
    width: 100%;
}

.mat-form-field {
    margin-left: 10px;
    font-size: 14px;
    width: 90%;
    float: left;
}
  
.th-codigo {
    width: 10%;
    color: rgb(8, 41, 131);
}

.th-descricao {
    width: 30%;
    color: rgb(8, 41, 131);
}

.th-tipoProduto {
    width: 15%;
    color: rgb(8, 41, 131);
}

.th-unidadeMedida {
    width: 10%;
    color: rgb(8, 41, 131);
}

.th-custo {
    width: 10%;
    color: rgb(8, 41, 131);
    text-align: right;
}

.th-preco {
    width: 10%;
    color: rgb(8, 41, 131);
    text-align: right;
}

.th-controla-estoque {
    width: 50%;
    color: rgb(8, 41, 131);
    text-align: center;
}

.th-est-min {
    width: 10%;
    color: rgb(8, 41, 131);
    text-align: center;
}

.botao-td {
    width: 0.5px;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell {
    border-color: #3232FF;
    color: #3232FF;
    background-color:#e6e6aa;
    font-weight: bold;
}
