<div>
    <h2 class="titulo"><strong>Composição do Produto</strong></h2>
</div>

<mat-form-field>
    <mat-label>Digite o produto a ser feita a composição</mat-label>
    <input matInput
           [(ngModel)]="value"
           [matAutocomplete]="auto"
           [formControl]="produtoCtrl" (blur)="onBlur()">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="limpar()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let produto of filteredProdutos | async" [value]="produto">
            <small>{{produto.descricao}} [{{produto.codigo}}]</small>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<div cdkDropListGroup>
    <div class="example-container">
        <h2>Matéria Prima</h2>
        <div
            class="example-list"
            cdkDropList
            [cdkDropListData]="materiaPrima"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of materiaPrima" cdkDrag [cdkDragData]="item">
                {{ item.descricao }}
            </div>
        </div>
    </div>
  
    <div class="example-container">
        <h2>Composição</h2>
        <div
            class="example-list"
            cdkDropList
            [cdkDropListData]="composicaoProduto"
            (cdkDropListDropped)="drop($event)"
            (cdkDropListEntered)="entered($event)"
            (cdkDropListExited)="exited($event)">
            <div class="example-box2" *ngFor="let item of composicaoProduto" cdkDrag [cdkDragData]="item">
                {{ item.descricao }}
            </div>
        </div>
    </div>
</div>
