<div>
    <h2 class="titulo"><strong>Composição do Produto</strong></h2>
</div>

<mat-form-field>
    <mat-label>Digite o produto a ser feita a composição</mat-label>
    <input matInput
           [(ngModel)]="value"
           [matAutocomplete]="auto"
           [formControl]="produtoCtrl" (blur)="onBlur()">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="limpar()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let produto of filteredProdutos | async" [value]="produto">
            <small>{{produto.descricao}} [{{produto.codigo}}]</small>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<div cdkDropListGroup>
    <div class="example-container">
        <h2 class="titulo2">Matéria Prima</h2>

        <mat-form-field class="filtro">
            <mat-label>Pesquisa de Matéria-Prima</mat-label>
            <input matInput
                   [(ngModel)]="pesqMatPrima"
                   [disabled]="pesquisaDisabled"
                   (keyup)="pesqMatPrima = $event.target.value">
            <button *ngIf="pesqMatPrima" matSuffix mat-icon-button aria-label="Clear" (click)="limparPesqMatPrima()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <div
            class="example-list"
            cdkDropList
            [cdkDropListData]="materiaPrima"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of (materiaPrima | arrayFiltroProduto:pesqMatPrima)" cdkDrag [cdkDragData]="item">
                {{ item.descricao }}
            </div>
        </div>
    </div>
  
    <div class="example-container">
        <h2 class="titulo2">Composição</h2>

        <mat-form-field class="filtro">
            <mat-label>Pesquisa de Produto Composto</mat-label>
            <input matInput
                   [(ngModel)]="pesqComposicao"
                   [disabled]="pesquisaDisabled"
                   (keyup)="pesqComposicao = $event.target.value">
            <button *ngIf="pesqComposicao" matSuffix mat-icon-button aria-label="Clear" (click)="limparPesqComposicao()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <div
            class="example-list"
            cdkDropList
            [cdkDropListData]="composicaoProduto"
            (cdkDropListDropped)="drop($event)"
            (cdkDropListEntered)="entered($event)"
            (cdkDropListExited)="exited($event)">
            <div class="example-box2" *ngFor="let item of (composicaoProduto | arrayFiltroProduto:pesqComposicao)" cdkDrag [cdkDragData]="item">
                {{ item.descricao }}
            </div>
        </div>
    </div>
</div>
