<!--
<h4 mat-dialog-title>Item N°<strong>{{data.idItemPedidoCompra}}</strong></h4>

<div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <mat-form-field appearance="fill">
        <mat-label>Favorite Animal</mat-label>
        <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
-->
<form [formGroup]="itemPedidoCompraForm" >

    <!-- Item do Pedido de Compra -->
    <div>
        <mat-form-field class="medium">
            <mat-label>Código</mat-label>
            <input matInput
                   [(ngModel)]="data.codigo"
                   [matAutocomplete]="auto"
                   [formControl]="produtoCtrl"
                   formControlName="codigo" (blur)="onBlurCodigo()">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let produto of filteredProdutos | async" [value]="produto.codigo">
                    <small>{{produto.codigo}}</small> -
                    <small><font size="1">{{produto.descricao}}</font></small>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="large">
            <mat-label>Produto</mat-label>
            <input matInput type="text" formControlName="descricao" [(ngModel)]="data.descricao">
        </mat-form-field>

        <mat-form-field class="small">
            <mat-label>Tipo Produto</mat-label>
            <input matInput type="text" formControlName="tipoProduto" [(ngModel)]="data.tipoProduto">
        </mat-form-field>

        <mat-form-field class="small">
            <mat-label>Unidade Medida</mat-label>
            <input matInput type="text" formControlName="unidadeMedida" [(ngModel)]="data.unidadeMedida">
        </mat-form-field>

        <mat-form-field class="valores">
            <mat-label>Quantidade</mat-label>
            <input matInput type="text" formControlName="quantidade" [(ngModel)]="data.quantidade" (blur)="onBlurQtdePrecoUnitario()">
        </mat-form-field>

        <mat-form-field class="valores">
            <mat-label>Preço Unitário</mat-label>
            <input matInput type="text" formControlName="precoUnitario" [(ngModel)]="data.precoUnitario" (blur)="onBlurQtdePrecoUnitario()">
        </mat-form-field>

        <mat-form-field class="valores">
            <mat-label>Total</mat-label>
            <input matInput type="text" formControlName="total" [(ngModel)]="data.total">
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="boxfloat">
        <button class="salvar" mat-button [mat-dialog-close]="data">Salvar</button>
        <button class="cancelar" mat-button (click)="onNoClick()">Cancelar</button>
    </div>

</form>
