<!--
<h4 mat-dialog-title>Item N°<strong>{{data.idItemPedidoCompra}}</strong></h4>

<div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <mat-form-field appearance="fill">
        <mat-label>Favorite Animal</mat-label>
        <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
-->
<form [formGroup]="itemPedidoCompraForm" >

    <!-- Item do Pedido de Compra -->
    <div>

        <mat-form-field>
            <mat-label>Código</mat-label>
            <input matInput
                   [(ngModel)]="data.codigo"
                   [matAutocomplete]="auto"
                   formControlName="codigo">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let produto of filteredProdutos | async" [value]="produto.codigo">
                    {{produto.codigo}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Produto</mat-label>
            <input matInput type="text" formControlName="descricao" [(ngModel)]="data.descricao">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tipo Produto</mat-label>
            <input matInput type="text" formControlName="tipoProduto" [(ngModel)]="data.tipoProduto">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Unidade Medida</mat-label>
            <input matInput type="text" formControlName="unidadeMedida" [(ngModel)]="data.unidadeMedida">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Quantidade</mat-label>
            <input matInput type="text" formControlName="quantidade" [(ngModel)]="data.quantidade">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Preço Unitário</mat-label>
            <input matInput type="text" formControlName="precoUnitario" [(ngModel)]="data.precoUnitario">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Total</mat-label>
            <input matInput type="text" formControlName="total" [(ngModel)]="data.total">
        </mat-form-field>
    </div>

    <div>
        <button class="submit-btn botoes" color="primary" mat-raised-button type="submit" [disabled]="!itemPedidoCompraForm.valid" (click)=onSubmit()>Salvar</button>
        <button color="warn" mat-raised-button (click)="onNoClick()">Cancelar</button>
    </div>

</form>
